.gameModesSuperContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.gameModesContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	-moz-column-gap: 30px;
		 column-gap: 30px;
	row-gap: 30px;
}

.gameModeDivContainer {
	background: rgba(32, 152, 238, 0.19);
    border: 1px solid rgba(32, 152, 238, 0.61);
	border-radius: 10px;
	color: white;
	padding: 20px 20px;
}

.gameModeDivContContainer {
	display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    height: 200px;
    box-sizing: border-box;
}

.gameModesBtns {
    width: 150px;
    padding: 10px 0px;
	background: none;
    color: white;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    font-weight: 500;
    transition: 400ms;
    border: none;
    background-color: #0f8e72;
}