#passwordRestorContainer {
    width: 100%;
    height: 100svh;
    border: 1px solid brown;
    display: flex;
    align-items: center;
    justify-content: center;
    #passwordRestorHolder{
        width: 90%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // height: 500px;
        padding: 40px;
        background: rgba(32, 152, 238, 0.19);
        border: 1px solid rgba(32, 152, 238, 0.61);
        border-radius: 10px;
        #headingContainer  {
            // border: 1px solid white;
            color: white;
            // width: 10px;
            height: 50px;
            overflow: hidden;
            #headingWrapper {
                height: 100px;
                transition: 400ms linear;
                // transform: translateY(-50px);
                h2 {
                    // border: 1px solid red;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }
        }
        #restoreDescAndInputContainer {
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            width: 90%;
            max-width: 500px;
            align-items: center;
            #restorDescHolder {
                height: 40px;
                overflow: hidden;
                #restorDescWrapper {
                    // transform: translateY(-40px);
                    transition: 400ms linear;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    label {
                        height: 40px;
                        // border: 1px solid gold;
                        display: flex;
                        align-items: center;
                        color: white;
                        font-family: "Poppins", sans-serif;   
                    }
                }
            }
            #restorInputcHolder {
                // display: none;
                // border: 1px solid red;
                width: 90%;
                height: 50px;
                overflow: hidden;

                #restorInputsWrapper {
                    // border: 1px solid gold;
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    transition: 400ms linear;
                    // transform: translateY(-50px);
                    // width: 100%;
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                      margin: 0;
                      -webkit-appearance: none;
                    }
                    input {
                        // height: 40px;
                        font-family: "Poppins", sans-serif;
                        padding: 10px;
                        letter-spacing: 2px;
                        border: 1.4px solid #ddd;
                        border-radius: 5px;
                        outline-color: black;
                        background: rgba(32, 152, 238, 0.19);
                        border: 1px solid rgba(32, 152, 238, 0.61);
                        color: white;
                        width: 100%;
                        outline: none;
                    }

                }
            }
        }
        #restorSubmitContainer {
            margin-top: 20px;
            // border: 1px solid gold;
            height: 45px;
            overflow: hidden;
            #restorBtnWrapper {
                display: flex;
                flex-direction: column;
                // border: 1px solid red;
                overflow: hidden;
                transition: 400ms linear;
                row-gap: 10px;
                // transform: translateY(-50%);
                button {
                        background: none;
                        outline: none;
                        border: none;
                        display: block;
                        padding: 0px 20px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        font-size: .9rem;
                        font-family: "Poppins", sans-serif;
                        background: rgba(32, 152, 238, 0.19);
                        border: 1px solid rgba(32, 152, 238, 0.61);
                        border-radius: 5px;
                    span {
                        // display: none;
                    }
                    .restorPassLoadingCircle {
                        border: 2px solid white;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        border-top-color: transparent;
                        animation: restorLoading 700ms infinite linear;
                        display: none;
                    }
                }
                #submitEmailBtn {

                }
            }
        }
    }
}

@keyframes restorLoading {
    100% {
        rotate: 360deg;
    }
}