h1 {
  color: red;
}

:root {
  --primary-color: #132245;
  --secondary-color:  #7C93C3;
  --tertiary-color: #55679C;
  --quaternary-color: #1E2A5E;
  --quinary-color: #132245;

  --boder-anime-color: red;
  --primary-text-color: #fff;
  --secondary-text-color: red;

  
  --shadow-color: rgba(0, 0, 0, 0.2);

  --primary-boder-radius: 40px;
}
.profilepageContainer {
  margin: 40px;
  margin-top: 0px;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;


  gap: 2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.cart {
  width: 50svw;
  // height: 30svw;
  position: relative;
  box-shadow: 0px 0px 10px 1px var(--shadow-color);
  border-radius: var(--primary-boder-radius);
  color: var(--primary-text-color);
  
}
.content {
  background-color: var(--primary-color);
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: var(--primary-boder-radius);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content::before {
  position: absolute;
  content: ' ';
  display: block;
  height: 500%;
  width: 160px;
  background: linear-gradient(90deg, transparent, var(--boder-anime-color), var(--boder-anime-color),var(--boder-anime-color), transparent);
  animation: rotation_481 5000ms infinite linear;
  z-index: 0;
}

.content:hover::before {
  background: linear-gradient(90deg, transparent, #7C93C3, #55679C, #1E2A5E, transparent);
}

.content  .block {
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  position: relative;
  min-width: 300px;
  // min-height: 300px;
  z-index: 1;
  background-color: var(--primary-color);
  border-radius: inherit;
}

.profileCartContainer { // profile cart container
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30svw;
  height: 60rem;
  .coverImg {
    width: 100%;
    height: 20svh;
    background-image: url("https://localhost/images/6.png");
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-size: cover;
    background-blend-mode: overlay;
    box-shadow: 0 1px 2px var(--shadow-color)
  }
  .userAvatarContainer {
    position: relative;
    height: 12rem;
    width: 12rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    background-color: inherit;
    border-radius: 50%;
    .userAvatar {
      width: 90%;
      height: 90%;
      border-radius: 50%;
      background-image: url("https://localhost/images/dodo.png");
      background-size: cover;
      background-position: center;
      background-blend-mode: overlay;
      box-shadow: 0 1rem 1.5rem -1rem rgba(50, 54, 55, 0.37), 0 0 0.5rem 0 rgba(0, 45, 64, 0.2), 0 0rem 4rem 0 rgba(0, 0, 0, 0.41);
    }
  }
  .profileHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(-40%);
    margin-bottom: 1rem;
    > div {
      padding: 1rem;
    }
    .profileName {
      font-size: 2rem;
      font-weight: 600;
      color: var(--primary-text-color);
      padding-bottom: 0.5rem;
    }

    .profileRole {
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--secondary-text-color);
      padding-bottom: 0.5rem;
    }

    .profilelocation {
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--secondary-text-color);
      padding-bottom: 0.5rem;
    }
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    position: relative;
    transform: translateY(-20%);


  }
}

.animated-buttonContainer {
  width: 100%;
  .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: var(--tertiary-color);
    box-shadow: 0 0 0 2px var(--tertiary-color);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    width: 100%;
  }
  
  .animated-button i {
    position: absolute;
    width: 24px;
    fill: var(--tertiary-color);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--tertiary-color);
    border-radius: var(--primary-boder-radius);
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover i {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px var(--tertiary-color);
  }
  
  .animated-button:hover .circle {
    opacity: 1;
  }
}

.profilepageDivs {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 1rem;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  .divHeader {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-text-color);
    padding-bottom: 0.5rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    // background-color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    border-top-right-radius: var(--primary-boder-radius);
    border-top-left-radius: var(--primary-boder-radius);
    margin-bottom: 1rem;
  }

  .detailsblock {
    padding-bottom: 1rem;
    .detailsList {
      display: flex;
      flex-direction: column;
      align-items: first baseline;
      gap: 1rem;
      padding: 1rem;
      width: 80%;
      .detailsItems {
        display: flex;
        flex-wrap: wrap;

        gap: 1rem;
        padding: 1rem;
        align-items: center;
        box-shadow: 0 1px 2px var(--shadow-color);
        border-bottom: 1px solid var(--secondary-color);
        // display: grid;
        // grid-template-columns: 150px 1fr;
        .detailsLabel {
          font-size: 1.2rem;
          font-weight: 600;
          color: var(--primary-text-color);  
        }
        .detailsValue {
          font-size: 1rem;
          font-weight: 500;
          padding-left:  1rem;
          color: var(--secondary-text-color);
          span {
            color: white;
          }
        }
      }
    }
    
  }
}

#editProfileInfosForm {
  #editProfileSubmitBtn {
    margin: 40px auto 40px auto;
    background: none;
    padding: 10px 40px;
    color: white;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    background: rgba(32, 152, 238, 0.19);
    border: 1px solid rgba(32, 152, 238, 0.61);
    border-radius: 10px;
  }
}

.settingsForm {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 1rem;
  

  width: 100%;
  .settingsblock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .listItems {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    justify-content: space-between;
    padding: 1rem;

  }
  #thePasswordBlock {
    display: flex;
    flex-direction: column;
    width: 99%;
    padding-right: 52%;
  }
  #theBioBlock {
    width: 99%;
    padding-top: 2rem;
  }
  
}
.inputbox {
  position: relative;
  width: 100%;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {
  color: #5748f2;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0,75em;
}

.inputbox textarea:valid ~span,
.inputbox textarea:focus ~span {
  color: #5748f2;
  transform: translateX(-10px) translateY(-43px);
  font-size: 0,75em;
}
.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #5748f2;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
textarea {
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100px;
  z-index: 10;
  position: relative;
  padding: 20px 10px 10px;
  
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
  height: 44px;
}

.inputbox textarea:valid ~i,
.inputbox textarea:focus ~i {
  height: 100px;
}

.editBtnContainer {
  .editBtn {
    padding: 14px;
    
    border-radius: 20px;
    border: none;
    background-color: rgb(93, 93, 116);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
  }
  .editBtnText {
    font-size: 17px;
    font-weight: 600;
    color: var(--primary-text-color);
    padding: 0 1rem;
    z-index: 3;
  }
  .editBtn::before {
    content: "";
    width: 200%;
    height: 200%;
    background-color: rgb(102, 102, 141);
    position: absolute;
    z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
    border-radius: 50%;
    filter: blur(10px);
  }
  .editBtn:hover::before {
    transform: scale(1);
  }
  .editBtn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
  }
  
  .editBtn svg {
    height: 17px;
    fill: white;
    z-index: 3;
    transition: all 0.2s;
    transform-origin: bottom;
  }
  .editBtn:hover svg {
    transform: rotate(-15deg) translateX(5px);
  }
  .editBtn::after {
    content: "";
    width: 19.5px;
    height: 1.5px;
    position: absolute;
    bottom: 17px;
    left: -5px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
  }
  .editBtn:hover::after {
    transform: scaleX(1);
    left: 0px;
    transform-origin: right;
  }
  
  
}
@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes  updown {
  0% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}

@keyframes expandCover {
  0% {
    height: 0;
    top: 20px;
  }
  100% {
    height: 10rem;
    top: -10rem;
  }
}

@media screen and (max-width: 1159px) {
  .detailsCartContainer {
    width: 100%;
  }
  .profilepageDivs {
    width: 100%;
  }
  .profileCartContainer {
    width: 100%;
  }
  .settingsContainer {
    width: 100%;
  }
}

@media screen and (max-width: 596px) {
  #editProfileInfosForm {
    .listItems {
      display: grid;
      grid-template-columns: 1fr;
    }
    #thePasswordBlock{
      padding: 0px 16px;
    }

  }
}