*:not(ul, li, ol) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.ball {
  position: fixed;
  width: 100svw;
  height: 100svh;
  z-index: -1;
  background-image: url("../images/hoy.svg");
  background-repeat: repeat;
  background-size: cover;
  background-size: cover;
}

#searchInputContainer {
  width: 100%;
  background-color: #181834;
  position: relative;
  border-radius: 20px;
  transition: 300ms ease-in-out;
  position: relative;
}
#searchInputContainer #searchFormHolder {
  display: grid;
  grid-template-columns: calc(100% - 50px) 50px;
}
#searchInputContainer #searchFormHolder input {
  width: calc(100% - 0px);
  border: none;
  background-color: transparent;
  padding-left: 20px;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: white;
}
#searchInputContainer #searchFormHolder button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#searchInputContainer #searchInputResult {
  border: 1px solid white;
  width: 100%;
  position: absolute;
  background-color: #181834;
  border: 1px solid rgba(32, 152, 238, 0.61);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0;
  opacity: 0;
}
#searchInputContainer #searchInputResult .homePageSearchLinkWrapper {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
#searchInputContainer #searchInputResult .homePageSearchLinkWrapper a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
}
#searchInputContainer #searchInputResult .homePageSearchLinkWrapper span {
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}
#searchInputContainer #searchInputResult #searchInputLoadingContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #181834;
  display: none;
  align-items: center;
  justify-content: center;
}
#searchInputContainer #searchInputResult #searchInputLoadingContainer #searchInputLoading {
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 149, 255, 0.61);
  border-radius: 50%;
  border-top-color: transparent;
  animation: circleRotate 700ms linear infinite;
}
#searchInputContainer .showSearchInputResult {
  animation: openUp 200ms ease-in-out forwards;
}

#searchInputContainer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 20px;
  background: rgb(51, 58, 203);
  background: linear-gradient(90deg, rgb(51, 58, 203) 0%, rgb(53, 114, 239) 30%, rgb(26, 92, 98) 65%, rgb(167, 230, 255) 100%);
}

body {
  margin: auto;
  display: grid;
  grid-template-columns: 100px calc(100svw - 120px);
  grid-template-areas: "nav app";
  min-height: 100svh;
}

#navigationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  z-index: 10;
  left: 10px;
  grid-area: nav;
  height: calc(100svh - 20px);
  position: fixed;
}
#navigationContainer #navigationHolder {
  height: calc(100% - 60px);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 10px;
  grid-area: nav;
  position: relative;
  background: rgba(32, 152, 238, 0.19);
  border: 1px solid rgba(32, 152, 238, 0.61);
}
#navigationContainer #navigationHolder #logoContainer {
  display: flex;
  flex-direction: column;
}
#navigationContainer #navigationHolder #logoContainer span {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
}
#navigationContainer #navigationHolder ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  row-gap: 50px;
  padding: 20px;
  border-radius: 25px;
}
#navigationContainer #navigationHolder ul #moreInfosBtnContainer {
  display: none;
}
#navigationContainer #navigationHolder ul svg {
  color: white;
}
#navigationContainer #navigationHolder ul li .navigationLinkContainer {
  position: relative;
}
#navigationContainer #navigationHolder ul li .shite {
  background-color: transparent;
  width: 32px;
  height: 34px;
  position: absolute;
}
#navigationContainer #navigationHolder ul li a {
  text-decoration: none;
  color: white;
  z-index: 100;
  display: block;
}
#navigationContainer #navigationHolder ul li button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#navigationContainer #navigationHolder #logOutBtnContainer {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#navigationContainer #navigationHolder #logOutBtnContainer button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: white;
}

#notificationsContainer {
  position: fixed;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  z-index: 5;
  border-radius: 10px;
  background-color: #181834;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid rgba(32, 152, 238, 0.61);
  padding: 20px;
  max-height: 327px;
  overflow-y: scroll;
}
#notificationsContainer ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
#notificationsContainer ul li .notificationHolder {
  display: grid;
  grid-template-columns: 1fr 100px;
}
#notificationsContainer ul li .notificationHolder p {
  color: white;
  display: flex;
  align-items: center;
}
#notificationsContainer ul li .notificationHolder p .inviterUserName {
  color: #0f8e72;
  margin-right: 10px;
}
#notificationsContainer ul li .notificationHolder .notificationActionHolder {
  display: flex;
  justify-content: space-between;
}
#notificationsContainer ul li .notificationHolder .notificationActionHolder button {
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#notificationsContainer ul li .notificationHolder .notificationActionHolder button .notificationLoadingCircle {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  border-top-color: transparent;
  animation: circleRotate 700ms linear infinite;
  display: none;
}
#notificationsContainer ul li .notificationHolder .notificationActionHolder .acceptFriendRequestBtn {
  background-color: green;
}
#notificationsContainer ul li .notificationHolder .notificationActionHolder .rejectFriendRequestBtn {
  background-color: rgb(207, 0, 0);
}

#notificationsContainer::-webkit-scrollbar {
  width: 10px;
}

#notificationsContainer::-webkit-scrollbar-thumb {
  background-color: rgba(32, 152, 238, 0.19);
}

#notificationsContainer::-webkit-scrollbar-track {
  background-color: rgba(32, 152, 238, 0.19);
}

#app {
  grid-area: app;
}

@media screen and (max-width: 1024px) {
  body {
    display: block;
  }
  #app {
    width: 100%;
  }
  #navigationContainer {
    height: 100px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  #navigationContainer #navigationHolder {
    background-color: #181834;
    width: calc(90svw - 22px);
    flex-direction: row;
    justify-content: center;
  }
  #navigationContainer #navigationHolder #logoContainer {
    display: none;
  }
  #navigationContainer #navigationHolder #logOutBtnContainer {
    display: none;
  }
  #navigationContainer #navigationHolder ul {
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 451px) {
  #navigationContainer #navigationHolder ul li:nth-child(4),
  #navigationContainer #navigationHolder ul li:nth-child(5),
  #navigationContainer #navigationHolder ul li:nth-child(6) {
    display: none;
  }
  #navigationContainer #navigationHolder ul #moreInfosBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navigationContainer #navigationHolder ul #moreInfosBtnContainer button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: white;
  }
}
.miniLoadingCircle {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-top-color: transparent;
  animation: circleRotate 600ms infinite linear;
  border-radius: 50%;
}

@keyframes openUp {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 250px;
  }
}
@keyframes circleRotate {
  100% {
    rotate: 360deg;
  }
}/*# sourceMappingURL=root.css.map */