#tournamentContainer {
    // border: 1px solid red;
    // height: 100svh;
    #tournamentOptionsContainer {
        height: 100svh;
        // border: 1px solid green;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        .tournamentOptionHolder {
            // height: 100px;
            background: rgba(32, 152, 238, 0.19);
            border: 1px solid rgba(32, 152, 238, 0.61);
            width: 90%;
            max-width: 700px;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            // row-gap: 30px;
            height: 274px;
            justify-content: space-between;
            h2 {
                color: white;
                font-family: "Poppins", sans-serif;
            }
            p {
                color: white;
            }
            .tournamentTxtHelper {
                color: red;
                display: none;
            }
            input {
                font-family: "Poppins", sans-serif;
                padding: 10px;
                letter-spacing: 2px;
                border: 1.4px solid #ddd;
                border-radius: 5px;
                outline-color: black;
                background: rgba(32, 152, 238, 0.19);
                border: 1px solid rgba(32, 152, 238, 0.61);
                color: white;
            }
            .tounamentActionsBtnContainer {
                // border: 1px solid red;
                display: flex;
                justify-content: center;
                column-gap: 10px;
                #goToMyHostedTournament, #abortMyHostedTournament {
                    display: none;
                }
                
                
              
                button {
                    
                    background: none;
                    // width: 150px;
                    // padding: 5px 20px;
                    color: white;
                    font-family: "Poppins", sans-serif;
                    padding: 10px 30px;
                    border-radius: 10px;
                    font-weight: 500;
                    transition: 400ms;
                    border: none;
                    background-color: #0f8e72;
                    display: block;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .tournamentOptionsLoading {
                        border: 2px solid white;
                        border-top-color: transparent;
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        animation: loading 700ms infinite linear;
                        display: none;
                    }
                }
                #goToMyHostedTournament {
                    background-color: green;
                    // display: block;
                    // animation: beating 400ms infinite linear;
                }
                #abortMyHostedTournament {
                    background-color: rgb(175, 0, 0);
                }
                #CreateTournamentButton {
                    padding: 10px 50px;
                    
                }
            }
            
        }
    }
}

@media screen and (max-width: 1775px) {
    #tournamentContainer {
        #tournamentOptionsContainer {
            row-gap: 30px;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 474px) {
    #tournamentContainer {
        #tournamentOptionsContainer {
            row-gap: 30px;
            flex-direction: column;
            .tournamentOptionHolder {
                row-gap: 30px;
                height: unset;
            }
        }
    }
}

@keyframes loading {
    100%{
        rotate: 360deg;
    }
}

@keyframes beating {
    0% {
        scale: 1;
    }
    50% {scale: 1.1;}
    75% {scale: 1.1;}
    100% {
        scale: 1;
    }
}